.landing {
  background-image: url("../img/h_img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
p {
  text-align: center;
  font-family:
}
span {
  text-align: center;
}
.container {
  text-align: center;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.logo {
  float: center;
  
}