.landing {
  background-image: url("../img/h_img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 15%;
  padding-top: 10%;
}
.about {
  background-color: white;
  text-align: center;
}
.services {
  background-image: url("../img/s_image.jpg");
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  color: white;
}
.heading {
  text-align: center;
  font-family: ;
}
h5 {
  text-align: center;
}
.contact {
  text-align: center;
  background-image: url("../img/c_image.jpg");
}
input {
  background-color: transparent;
  
}
.textarea {
  background-color: transparent;
}
footer {
  text-align: center;
  font-family: 'Italianno', cursive;
  font-style: italic;
  font-size: 20px;
}
