.landing {
  background-image: url("../img/h_img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 15%;
  padding-top: 10%;
}
.about {
  background-color: white;
  text-align: center;
}
.services {
  background-image: url("../img/s_image.jpg");
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  color: white;
}
