p {
  text-align: center;
  font-family:
}
span {
  text-align: center;
}
.container {
  text-align: center;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
body {
  background: url("img/h_img.jpg") no-repeat;
  background-size: cover;
} 
.logo {
  float: center;
  
}